<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/AALogo.png"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>
      <p>
        <button name="Press" (click)="doSomething()"></button>
        Get Cookie: {{cookieValue}}
      </p>
      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Punj Prakash</h3>
      </div>

      <div class="text-center">@punjprakash</div>
      <div class="text-center">
        <a href="www.github.com">github</a>
      </div>
    </div>
  </div>
</div>
